	<div id="swrifts-sheet" class="tab-pane fade in">          
                 <div class="form-group row">
                     <div class="col-sm-3">
						<span class="heading">Iconic Framework</span> 
                     </div>
                     <div class="col-sm-9">
						{{{ansi-format text=char.custom.iconicf}}}
                     </div>
					 
					<PowerSelect @selected={{char.custom.chariconicf}} @options={{this.swiconicfsel}} @onChange=@onChange={{fn (mut char.custom.chariconicf)}} as |icf|>
					  {{icf}}
					</PowerSelect>					 
                 </div>
	</div> 