	<div id="swrifts-sheet" class="tab-pane fade in">
		<div class="row">
			<div class="col-sm-9">
			<!-- Top Row -->
				<div class="form-group row icf">
					<div class="col-sm-6">
						 <div class="col-sm-6 heading">
							<span>Iconic Framework</span>
						 </div>
						 <div class="col-sm-9">
						<!-- {{{ansi-format text=char.custom.iconicf}}} -->
							<PowerSelect @searchEnabled={{true}} @searchField="name" @searchPlaceholder="Type a name..." @selected={{char.custom.charicf}} @options={{this.swiconicfsel}}  @onChange={{action "iconicfChanged"}} as |icf|>
							  {{icf.name}}
							</PowerSelect>
						 </div>
					</div>
					<div class="col-sm-6">
						<div class="col-sm-6 heading">
							<span>Race</span>
						 </div>
						 <div class="col-sm-9">
						<!-- 	<pre>
							 	{{{ansi-format text=char.custom.cgrace}}}  -->

							<!--	{{#each-in char.custom.cgrace as |k v|}}
								K: {{k}}  -
									{{#each-in v as |x z| }}
										x: {{x}} __ z: {{z}}
									{{/each-in}}
									<br />
							{{/each-in}} -->
						<!-- </pre> -->
							<PowerSelect @searchEnabled={{true}} @searchField="name" @searchPlaceholder="Type a name..." @selected={{char.custom.charrace}} @options={{this.swracesel}}  @onChange={{action "newRaceChanged"}} as |icf|>
							  {{icf.name}}
							</PowerSelect>
						</div>
					</div>
				</div>
			<!-- End Top Row -->

			<!-- Second Row -->
				<div class="form-group row">

				</div>

			<!-- End Second Row -->

			<!-- Third Row -->
				<div class = "row features">
					<div class="col-sm-6">
						<div class="row txthding">
							<span class="edges">Edges</span>
						</div>

						<div class="row">
							{{!-- <pre>
								{{{ansi-format text=char.custom.cgedgesfw}}}
							</pre>  --}}
							<p><ul class="edges">
							{{#each-in char.custom.cgedgesfw as |key counter|}}
								<li><span class="cgtooltip">{{counter.class}}
									<span class="tooltiptext">{{counter.rating}}</span>
								</span></li>
							{{/each-in}}
							</ul>
							</p>
						</div>

					</div>

					<div class="col-sm-6">
						<div class="row txthding">
							<span class="heading">Hinderances</span>
						</div>

						<div class="row">
							<p><ul class="hind">
						<!--
						<pre>
							 {{{ansi-format text=char.custom.syshind}}}

							 {{#each-in char.custom.syshind as |k v|}}
							 K: {{k}}  -
								 {{#each-in v as |x z| }}
									 x: {{x}} __ z: {{z}}
								 {{/each-in}}
								 <br />
						 {{/each-in}}
					 </pre> -->
							{{#each-in char.custom.cghindfw as |key counter|}}
								<li><span class="cgtooltip">{{counter.class}}
									<span class="tooltiptext">{{counter.rating}}</span>
								</span></li>
							{{/each-in}}
							</ul></p>
						</div>
					</div>
				</div>

			<!-- End Third Row -->

			<!-- New Fourth Row -->
			<div class="row features">
				<div class="row">
					<p class="heading">Choose your Hinderances: </p>
					<PowerSelectMultiple @searchEnabled={{true}} @searchField="name" @searchPlaceholder="Type a name..." @selected={{char.custom.cghindnofw}} @options={{this.swsyshind}} @onChange={{action "hindChanged"}} as |hind|>
						{{hind.name}}
					</PowerSelectMultiple>
				</div>
				<div class="row">
					<!-- Hindpoints (also known as Perk Points) are defined in swrifts_hinderances.yml.  The js function [[function name pls]] in app/components/chargen-custom.js should add these all together. If they exceed 4, then only 4 should be shown in the field below.  4 is the maximun number of perk points a character can have. -->
					<p class="heading"><strong>Perk Points:</strong> 
					{{#if char.custom.charhindpoints}}
						{{{ansi-format text=char.custom.charhindpoints}}}
					{{else}}
						{{{ansi-format text=this.charhindpoints}}}
					{{/if}}
					</p>
				</div> <!-- Perks Heading -->
				<div class="row">
					<p class="heading"><strong>Choose A Perk:</strong> </p>
					<PowerSelect @options={{this.perkactions}} @onChange={{action "hindChanged"}} as |name|>
					{{name}}
					</PowerSelect>

				</div>
			</div>

			<!-- end New Fourth Row -->

			<!-- Fourth Row -->
				<div class="row features">
						<div class="row">
							<p class="heading">Choose your Edges: </p>
							<PowerSelectMultiple @searchEnabled={{true}} @searchField="name" @searchPlaceholder="Type a name..." @selected={{char.custom.cgedgesnofw}} @options={{this.swsysedges}} @onChange={{action "edgeChanged"}} as |edg|>
							  {{edg.name}}
							</PowerSelectMultiple>
						</div>
				</div>

			<!-- End Fourth Row -->

			<!-- Fifth Row -->

				<div class="row">
					{{#each-in this.char.custom.hjslots as |hjt value|}}
					<div class="col-sm-4">
							<span class="hjt">
								Table: {{{ansi-format text=hjt}}}
							</span>
							<div id="{{hjt}}">
								<PowerSelect @searchEnabled={{true}} @searchField="name" @searchPlaceholder="Type a name..." @selected={{get this.char.custom.hjtables hjt}} @options={{value}} @onChange={{action "groupChanged" hjt}} as |icf|>
									{{icf.table}}
								</PowerSelect>
							</div>
						</div>
					{{else}}
						<div class="col-sm-4">
						<p style="font-weight: bold; font-style: italic;">No Heros Journeys to pick from.</p>
						</div>
					{{/each-in}}

				</div> <!-- HJ Options -->
			<!-- End Fifth Row -->
			</div> <!-- left column -->

			<!-- Right Col -->
			<div class="col-sm-3">
				<p class="txthding"> CGen Points Available </p>
                 {{#each-in char.custom.cgslots as |key counter|}} <!-- cgslots is a list of all the counters defined in swrifts_init -->
						 <div class="form-group row">
							 <div class="col-sm-9">
									 <b>{{counter.name}}</b>
							 </div>
							 <div class="col-sm-3">
									 <Input id="inp-{{counter.class}}" @type="text" disabled="disabled" @size={{4}} @value={{counter.rating}} />
							 </div>
						 </div>
				 {{else}}
                 <div class="form-group row">
                     <div class="col-sm-12">
						Nothing here
					</div>
				  </div>
                 {{/each-in}}

			</div>
		<!-- end Right Col -->
		</div>

	</div>
