	<div id="swrifts-sheet" class="tab-pane fade in">
		<p class="cg-tip"><AnsiFormat @text={{model.cgInfo.demographics_blurb}} /></p>             
                 {{#each-in model.char.demographics as |key demo|}}
                 <div class="form-group row">
                     <div class="col-sm-3">
                             <b>{{demo.name}}</b> 
                     </div>
                     <div class="col-sm-9">
                         {{#if (eq key 'gender') }}
                             
                             <PowerSelect @selected={{model.char.demographics.gender}} @searchField="value" @options={{genders}} @onchange={{action "genderChanged"}} as |gender|>
                               {{gender.value}}
                             </PowerSelect>
                         
                         {{else if (eq key 'age')}}
                             <Input @type="text" @size={{25}} @value={{demo.value}} />
                             <div class="cg-tip">Enter an age or a birthdate in {{model.cgInfo.date_format}} format.</div>
                         {{else}}
                             <Input @type="text" @size={{25}} @value={{demo.value}} />
                         {{/if}}
                     </div>
                 </div>
                 {{/each-in}}  
	</div> 