	<div id="swrifts-sheet" class="tab-pane fade in">          
		<div class="row">
			<div class="col-sm-9">
				<div class="form-group row icf">
					<div class="col-sm-6">
						 <div class="col-sm-3 heading">
							<span>Iconic Framework</span> 
						 </div>
						 <div class="col-sm-9">
						<!-- {{{ansi-format text=char.custom.iconicf}}} -->
							<PowerSelect @searchEnabled={{true}} @searchField="name" @searchPlaceholder="Type a name..." @selected={{char.custom.charicf}} @options={{this.swiconicfsel}}  @onChange={{action "iconicfChanged"}} as |icf|>
							  {{icf.name}}
							</PowerSelect>							
						 </div>	
					</div>
					<div class="col-sm-6">
						<div class="col-sm-3 heading">
							<span>Race</span> 
						 </div>
						 <div class="col-sm-9">
						<!-- {{{ansi-format text=char.custom.charrace}}} -->
							<PowerSelect @searchEnabled={{true}} @searchField="name" @searchPlaceholder="Type a name..." @selected={{char.custom.charrace}} @options={{this.swracesel}}  @onChange={{action "newRaceChanged"}} as |icf|>
							  {{icf.name}}
							</PowerSelect>
						</div>					
					</div>
				</div>
				<div class="form-group row">
			 
				</div>
				
				<div class = "row features">
					<div class="col-sm-6">
						<div class="row txthding">
							<span class="edges">Edges</span> 
						</div>
						
						<div class="row">
							<p><ul class="edges">
							{{#each-in char.custom.cgedgesfw as |key counter|}}
								<li><span class="cgtooltip">{{counter.class}} 
									<span class="tooltiptext">{{counter.rating}}</span>
								</span></li>
							{{/each-in}}
							</ul>
							</p>
						</div>

					</div>
					
					<div class="col-sm-6">
						<div class="row txthding">
							<span class="heading">Hinderances</span>
						</div>
						
						<div class="row">
							<p><ul class="hind">
							{{#each-in char.custom.cghindfw as |key counter|}}
								<li><span class="cgtooltip">{{counter.class}} 
									<span class="tooltiptext">{{counter.rating}}</span>
								</span></li>
							{{/each-in}}
							</ul></p>
						</div>					
					</div>	
				</div>
				
				<div class="row features">
					<div class="col-sm-6">
						<div class="row">
							<PowerSelectMultiple @searchEnabled={{true}} @searchField="name" @searchPlaceholder="Type a name..." @selected={{char.custom.cgedgesnofw}} @options={{this.swsysedges}} @onChange={{action "edgeChanged"}} as |edg|>
							  {{edg.name}}
							</PowerSelectMultiple>						
						</div>
					</div>

					<div class="col-sm-6">
						<div class="row">
							<PowerSelectMultiple @searchEnabled={{true}} @searchField="name" @searchPlaceholder="Type a name..." @selected={{char.custom.cghindnofw}} @options={{this.swsyshind}} @onChange={{action "hindChanged"}} as |hind|>
							  {{hind.name}}
							</PowerSelectMultiple>				
						</div>
					</div>
				</div>
				
				<div class="row"> <!-- Display Heroes Journey Options -->
					<pre>{{{ansi-format text=char.custom.hjslots}}}						</pre>
					{{#each-in char.custom.hjslots as |hjt value|}}
						<div class="col-sm-4 {{k1}}">
						<pre>{{{ansi-format text=hjt}}}						</pre>
								First: {{hjt}}<br />
								Last: {{value}}
								{{#each value as |k|}}
									Table: {{k.hjtable}}<br />
								{{/each}}
								<<PowerSelect @searchEnabled={{true}} @searchField="name" @searchPlaceholder="Type a name..." @selected={{k1}} @options={{value.value}}  @onChange={{action "hjtables"}} as |icf|>
								  {{icf.value}}
								</PowerSelect>
						</div>
					{{/each-in}}
				</div> <!-- HJ Options -->
			</div> <!-- left column -->



						
			
		
			<div class="col-sm-3">
				<p class="txthding"> CGen Points Available </p>
                 {{#each-in char.custom.cgslots as |key counter|}}
						 <div class="form-group row">
							 <div class="col-sm-9">
									 <b>{{counter.name}}</b> 
							 </div>
							 <div class="col-sm-3">
									 <Input id="inp-{{counter.class}}" @type="text" disabled="disabled" @size={{4}} @value={{counter.rating}} />
							 </div>
						 </div>	 	
				 {{else}}
                 <div class="form-group row">
                     <div class="col-sm-12">
						Nothing here
					</div>
				  </div>
                 {{/each-in}}					
			
			</div>
		</div>
			
	</div> 