<div class="row">
  <div class="col col-xs-4">
    <CharIcon @char={{this.char}} />

    {{#if this.char.id}}
    <LinkTo @route="char" @model={{this.char.name}} target="_blank">View Full Profile</LinkTo>
    {{/if}}
    
  </div>  
  <div class="col col-xs-8">
    {{#if (not this.char.is_ooc)}}
      {{#each this.char.demographics as |demo|}}
      <div class="row">
          <div class="col-sm-3">
            <b>{{demo.name}}</b> 
          </div>
          <div class="col-sm-9">
            {{demo.value}}
          </div>
      </div>
      {{/each}}
      {{#if (not this.char.demographics)}}
      No demographics available.  Try reloading the scene page.
      {{/if}}
    {{/if}}
    
    {{#if this.char.status_message}}
    <br>
    <div class="alert alert-info">
      {{this.char.status_message}}
    </div>
    {{/if}}
    
    
  </div>
</div>
    
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> parent of 9ba2dda (Skill scan, better char cards.)
=======
>>>>>>> parent of a71b1cd (Merge pull request #112 from AresMUSH/dev)
<div class="row">
  <div class="col col-xs-12">
    {{#if this.char.description}}
    <AnsiFormat @text={{this.char.description}} />
    {{/if}}
    
  </div>
<<<<<<< HEAD
<<<<<<< HEAD
=======
<hr>

{{#if this.char.fs3}}

<div class="card-abilities">
  {{#each this.char.fs3.attributes as |ability|}}
  <span class="card-ability">{{ability.name}}: {{ability.rating}}</span>
  {{/each}}
</div>

<div class="card-abilities">
  {{#each this.char.fs3.action_skills as |ability|}}
  <span class="card-ability">{{ability.name}}: {{ability.rating}}</span>
  {{/each}}
</div>


<div class="card-abilities">
  {{#each this.char.fs3.backgrounds as |ability|}}
  <span class="card-ability">{{ability.name}}: {{ability.rating}}</span>
  {{/each}}
</div>

<div class="card-abilities">
  {{#each this.char.fs3.languages as |ability|}}
  <span class="card-ability">{{ability.name}}: {{ability.rating}}</span>
  {{/each}}
</div>

{{#if this.char.fs3.advantages}}
<div class="card-abilities">
  {{#each this.char.fs3.advantages as |ability|}}
  {{ability.name}}: {{ability.rating}}
  {{/each}}
>>>>>>> parent of dc1500c (Improved fs3 card.)
=======
>>>>>>> parent of 9ba2dda (Skill scan, better char cards.)
=======
>>>>>>> parent of a71b1cd (Merge pull request #112 from AresMUSH/dev)
</div>
    
