<!-- Sheet tab -->

    <div id="swriftssheet" class="tab-pane fade">
		<div class="swriftsheet">
			<div class="stattable left">
					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="5">
								Stats
							</div>
								{{{ansi-format text=char.custom.stats}}}
						</div>
					</div>

					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="6">
								Derived Stats
							</div>

						</div>
					</div>

					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="6">
								Skills
							</div>
								{{{ansi-format text=char.custom.skills}}}
						</div>
					</div>
			</div>

		    <div class="stattable right">
				<div class="container-fluid statstable">
					<div class="row no-gutters stdlh">
						<div class="titlerow" colspan="2">
							Bennies And Conviction
						</div>
						<div class="col-sm-6 center">
							<span class="skillname">Bennies: </span><span class="rating">$var here <!-- {{{ansi-format text=char.custom.bennies}}} --></span>
						</div>
						<div class="col-sm-6 center">
							<span class="skillname">Conviction: </span><span class="rating">$var here <!-- {{{ansi-format text=char.custom.conviction}}} --></span>
						</div>
					</div>
				</div>

				<div class="container-fluid statstable">
					<div class="row no-gutters stdlh">
						<div class="titlerow" colspan="2">
							Armor
						</div>
						<div class="col-sm-6 center">
							<span class="skillname"> </span><span class="rating">$var here</span>
						</div>
						<div class="col-sm-6 center">
							<span class="skillname"> </span><span class="rating">$var here</span>
						</div>
					</div>
				</div>

				<div class="container-fluid statstable">
					<div class="row no-gutters stdlh">
						<div class="titlerow" colspan="2">
							Weapons
						</div>
						<div class="col-sm-6 center">
							<span class="skillname"> </span><span class="rating">$var here</span>
						</div>
						<div class="col-sm-6 center">
							<span class="skillname"> </span><span class="rating">$var here</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- Wounds Tab -->
	<div id="swriftswounds" class="tab-pane fade">
		<div class="swriftsheet">
			<div class="stattable fullwidth">
					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="1">
								Wounds
							</div>
						    <div class="row">
								<div class="col">
								     Wounds go here
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>

<!-- Powers Tab -->
	<div id="swriftspowers" class="tab-pane fade">
		<div class="swriftsheet">
			<div class="stattable fullwidth">
					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="1">
								Powers
							</div>
						    <div class="row">
								<div class="col">
								     Powers go here
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>

	</div>

<!-- Iconic Framework Tab -->
	<div id="swriftsiconicf" class="tab-pane fade">
		<div class="swriftsheet">
			<div class="stattable fullwidth">
					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="1">
								Iconic Framework
							</div>
						    <div class="row">
								<div class="col">
								     {{{ansi-format text=char.custom.charicf}}}
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>

<!--Modifiers Tab -->
	<div id="swriftsmodifiers" class="tab-pane fade">
		<div class="swriftsheet">
			<div class="stattable fullwidth">
					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="1">
								Edges & Hinderances
							</div>
						    <div class="row">
								<div class="col">
								     E & H go here
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>

<!--Gear Tab -->
	<div id="swriftsgear" class="tab-pane fade">
		<div class="swriftsheet">
			<div class="stattable fullwidth">
					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="1">
								Gear
							</div>
						    <div class="row">
								<div class="col">
								     Gear go here
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>

<!--Advancement Tab -->
	<div id="swriftsadvancement" class="tab-pane fade">
		<div class="swriftsheet">
			<div class="stattable fullwidth">
					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="1">
								Advancement
							</div>
						    <div class="row">
								<div class="col">
								     XP etc go here
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
