<!-- Sheet tab -->

    <div id="swriftssheet" class="tab-pane fade">
		<div class="swriftsheet">
      <div class="container-fluid statstable stattable">
        <div class="row no-gutters stdlh">
          <div class="col-sm-6 center">
            <span class="skillname">Iconic Framework:</span><span class="rating">{{{ansi-format text=char.custom.charicf}}}</span>
          </div>
          <div class="col-sm-6 center">
            <span class="skillname">Race:</span><span class="rating">{{{ansi-format text=char.custom.charicf}}}</span>
          </div>
        </div>
      </div>
			<div class="stattable left">
					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="5">
								Stats
							</div>
								{{{ansi-format text=char.custom.stats}}}
						</div>
					</div>

					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="6">
								Derived Stats
							</div>

						</div>
					</div>

					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="6">
								Skills
							</div>
								{{{ansi-format text=char.custom.skills}}}
						</div>
					</div>
			</div>

	    <div class="stattable right">
				<div class="container-fluid statstable">
					<div class="row no-gutters stdlh">
						<div class="titlerow" colspan="2">
							Bennies And Conviction
						</div>
						<div class="col-sm-6 center">
							{{{ansi-format text=char.custom.bennies}}}

              <pre>

              {{#each char.custom.benniesnew as |bb as key index|}}
                  <div class="edgcol">
                      {{ if key 'bennies_current'}}
                      <h3 class="txthding">Current Bennies</h3>
                      <p>{{index}}</p>
                  </div>
              {{/each}}
              <!-- {{{ansi-format text=char.custom.benniesnew}}} -->
            </pre>
						</div>
						<div class="col-sm-6 center">
							{{{ansi-format text=char.custom.conviction}}}
						</div>
					</div>
				</div>

				<div class="container-fluid statstable">
					<div class="row no-gutters stdlh">
						<div class="titlerow" colspan="2">
							Armor
						</div>
						<div class="col-sm-6 center">
							<span class="skillname"> </span><span class="rating">$var here</span>
						</div>
						<div class="col-sm-6 center">
							<span class="skillname"> </span><span class="rating">$var here</span>
						</div>
					</div>
				</div>

				<div class="container-fluid statstable">
					<div class="row no-gutters stdlh">
						<div class="titlerow" colspan="2">
							Weapons
						</div>
						<div class="col-sm-6 center">
							<span class="skillname"> </span><span class="rating">$var here</span>
						</div>
						<div class="col-sm-6 center">
							<span class="skillname"> </span><span class="rating">$var here</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- Wounds Tab -->
	<div id="swriftswounds" class="tab-pane fade">
		<div class="swriftsheet">
			<div class="stattable fullwidth">
					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="1">
								Wounds
							</div>
						    <div class="row">
								<div class="col">
								     Wounds go here
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>

<!-- Powers Tab -->
	<div id="swriftspowers" class="tab-pane fade">
		<div class="swriftsheet">
			<div class="stattable fullwidth">
					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="1">
								Powers
							</div>
						    <div class="row">
								<div class="col">
								     Powers go here
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>

	</div>

<!-- Special Abilities Tab -->
	<div id="swriftsiconicf" class="tab-pane fade">
		<div class="swriftsheet">
			<div class="stattable fullwidth">
					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="1">
								Special Abilities
							</div>
						    <div class="row">
								<div class="col">
								     {{{ansi-format text=char.custom.charabils}}}
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>

<!--Modifiers Tab -->
	<div id="swriftsmodifiers" class="tab-pane fade">
		<div class="swriftsheet">
      <div class="stattable left">
					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="1">
								Edges
							</div>
					    <div class="row">
								<div class="col">
								     {{{ansi-format text=char.custom.charedges}}}
								</div>
              </div>
						</div>
          </div>
      </div>
      <div class="stattable right">
			  <div class="container-fluid statstable">
          <div class="row no-gutters stdlh">
            <div class="titlerow" colspan="1">
              Hinderances
            </div>
              <div class="row">
                <div class="col">
                     {{{ansi-format text=char.custom.charhind}}}
                </div>
              </div>
          </div>
        </div>
		  </div>
		</div>
	</div>

<!--Gear Tab -->
	<div id="swriftsgear" class="tab-pane fade">
		<div class="swriftsheet">
			<div class="stattable fullwidth">
					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="1">
								Gear
							</div>
						    <div class="row">
								<div class="col">
								     Gear go here
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>

<!--Advancement Tab -->
	<div id="swriftsadvancement" class="tab-pane fade">
		<div class="swriftsheet">
			<div class="stattable fullwidth">
					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="1">
								Advancement
							</div>
						    <div class="row">
								<div class="col">
								     XP etc go here
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
