{{page-title 'SWRIFTS Edges'}}
<h1>SWRIFTS Edges</h1>

<h2>Edge</h2>

<p> Does this actually work? </p>

Edges: 

<pre>
{{{ansi-format text=model.edges}}}
</pre>
<!-- 
{{#each model.edges as |gear|}}
    <td><LinkTo @route="fs3combat-gear-detail" @models={{array 'weapon' gear.key}}>{{gear.name}}</LinkTo></td> 
    <td>{{gear.description}}</td>
{{/each}}
-->