{{page-title 'SWRIFTS Edges'}}
<h1>SWRIFTS Edges</h1>

<h2>Edge</h2>

<div class="row">
{{#each model.edges as |edge|}}
    <div class="col">
        <h2>{{edge.name}}</h2>
        <p>{{edge.description}}</p>
		<p>Pre Requisite:</p>
		{{#each-in edge.pre-reqs as |k v|}}
			{{#each v as |j|}}
				{{j}}<br />
			{{//each}}
		{{/each-in}}<br />	
    </div>
{{/each}}
</div>

Listing it out: <br />
{{#each model.edges as |gear|}}
	Name: {{gear.name}}<br />
    Description: {{gear.description}}<br />
	Pre Req: {{gear.pre-reqs}} >br />
	***<br />
	<br />
{{/each}}
