{{page-title 'SWRIFTS Edges'}}
<h1>SWRIFTS Edges</h1>

<div class="edgrow">
{{#each model.edges as |edge|}}
    <div class="edgcol">
        <h3 class="txthding">{{edge.name}}</h3>
        <p>{{edge.description}}</p>
		<p>Type: {{edge.type}}</p>
		<p>Book: {{edge.book_reference}}</p>
		<p>Pre Requisites:<br />
			<ul>
				{{#each-in edge.pre-reqs as |k v|}}
					{{#each-in v as |j l|}}
						<li><strong>{{j}}</strong>:  {{l}} </li>
					{{/each-in}}
				{{else}}
					<li>None</li>
				{{/each-in}} 
			</ul>
		</p>		
    </div>
{{/each}}
</div>

